/*CSS*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#caixaBase{
    max-width: 1009px;
    min-height: 1250px;
    height: auto;
    overflow: hidden;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
    background-color: #4F4F4F;
    
    padding-right: 0px;
    padding-top: 25px;
    padding-bottom: 0px;
}

#caixaFoto{
    width: 255px;
    height: 255px;
    
    margin-right: 21px;
    
    margin-left: 5px;
    
    border-radius: 150px 150px 150px 150px;
    
    background-color: #FFD700;
    
    float: left;
}

#imagem{
    width: 255px;
    height: 255px;
    
    border: solid 4px #FFD700;
    
    border-radius: 150px 150px 150px 150px;
}

#nome{
    width: 722px;
    height: 55px;
    
    padding-top: 5px;
    
    padding-bottom: 4px;
    
    margin-bottom: 8px;
    
    border-bottom: dashed 6px #FFD700;
    
    float: left;   
}

#dados{
    width: 728px;
    height: 160px;
    
    padding-top: 12px;
    
    float: left;
}

#formatacaoNome{
    text-align: center;
    
    font-size: 35px;
    
    font: "times new roman";
    
    font-weight: bold;
    
    color: #ffffff;
}

.texto{
    font-size: 22px;
    font: "times new roman";
    
    font-weight: bold;
    line-height: 40px;
    
    color: #ffffff;
}

#conteudo{
    width: 100%;
    min-height: 946px;
    height: auto;
    overflow: hidden;
    
    margin-top: 40px;
  
    border-top: dashed 6px #FFD700;
    
    padding-top: 8px;
    
    clear: both;
    
    float: left;
}

#colunaUm{
    width: 276px;
    min-height: 921px;
    height: auto;
    overflow: hidden;
    
    padding-top: 25px;
    
    float: left;
}

#conhecimento{
    width: 265px;
    height: 60px;
    
    padding-top: 10px;
    padding-left: 5px;
    
    margin-bottom: 30px;
    
    border-left: solid 2px #4F4F4F;
    
    border-radius: 0px 35px 35px 0px;
    
    background-color: #ffffff;
}

.conhecimentoLista{
    width: 266px;
    height: 40px;
    
    margin-bottom: 15px;
    margin-left: 10px;
}

.imagemLista{
    width: 200px;
    height: 23px;
    
    margin-bottom: 20px;
    margin-left: 10px;
}

#contato{
    width: 274px;
    height: 132px;
    
    margin-top: 25px;
    padding-top: 35px;

    border-bottom: solid 2px #4F4F4F;
    border-left: solid 2px #4F4F4F;
    
    border-radius: 60px 60px 0px 0px;
    
    background-color: #FFD700;
    
    float: left;
}

#colunaDois{
    width: 99px;
    height: 1350px;
    
    background-color: #D3D3D3;
    
    padding-left: 20px;
    padding-top: 10px;

    /* margin-left: 3px; */
    
    border-bottom: solid 2px #4F4F4F;
    
    float: left;
}

.imagemColuna{
    width: 60px;
    height: 60px;
    
    border-radius: 10px 10px 10px 10px;
    
    margin-bottom: 43px;
    margin-top: 20px;
    
    float: left;
}

#imagemCertificacoes{
    margin-top: 150px;;
}

.imagemFormatar{
   width: 60px;
   height: 60px;
    
   border-radius: 100px 100px 100px 100px;
    
   margin-bottom: 100px;
       
   float: left;
}


#colunaTres{
    width: 634px;
    min-height: 1350px;
    height: auto;
    overflow: hidden;
    
    border-right: solid 2px #4F4F4F;
    border-bottom: solid 2px #4F4F4F;
    
    background-color: #ffffff;
    
    float: right;
}

#objetivos{
    width: 570px;
    height: 100px;
    
    margin-top: 25px;
    
    padding-left: 18px;
    
    border-bottom: solid 8px #D3D3D3; 
    
    float: left;
}

.qualificacoes{
    margin-top: 7px;
    font: "times new roman";
    
    font-size: 24px;

    text-align: justify;
}

#formacao{
    width: 570px;
    height: 810px;
    
    text-align: justify;
    
    padding-left: 18px;
    padding-bottom: 515px;
    
    line-height: 1.3; 
    
    float: left;
}



.titulo{
    
    font: "times new roman";
    
    font-size: 32px;
    
    font-weight: bold;
    
    color: #000000;
}

.formatacao{
    text-align: center;
    
    font: "times new roman";
    
    font-size: 30px;
}